<h1>All <%= @brand_name %> Beers</h1>

<%= render 'form' %>

<%= link_to 'all', root_url %>

<!-- <div class="row">
	<% @products_by_brand.each do |product| %>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div style="height: 150px;">
						<%= image_tag product.image.url(:thumb) %>
					</div>
					<p><a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<span class="glyphicon glyphicon-plus"></span>quick info</a></p>
						<p><strong><%= number_to_currency product.price %></strong></p>
						<p><%= link_to product.name, product %></p>
						<div style="height: 150px;">
							<p><%= product.description %></p>
						</div>
							<p><%= product.brand %></p>
							<p>Rating: <%= product.rating %></p>
						</div>
				</div>
			</div>
<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
      </div>
      <div class="modal-body">
      	<strong>Price: </strong><%= number_to_currency product.price %><br>
      	<strong>Description: </strong><%= product.description %><br>
      	<strong>Rating: </strong><%= product.rating %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
					<% end %>
				</div>
</div> -->
